@{
    ViewData["Title"] = "Odmowa dostępu";
}

<h1>Odmowa dostępu</h1>
<p>Nie masz odpowiednich uprawnień żeby wykonać...cokolwiek chciałeś.</p>
<a href="@Url.Action("Index", "Home")" class="btn btn-primary">Strona główna</a>