@model ITstudyv4.ViewModels.ChangePasswordVM
@{
    ViewData["Title"] = "Zmiana Hasła";
}

<h2 class="text-center text-info">Zmiana Hasła</h2>

<form asp-action="ChangePassword" method="post">

    <div class="form-group">
        <label asp-for="CurrentPassword"></label>
        <input asp-for="CurrentPassword" class="form-control" type="password" />
        <span asp-validation-for="CurrentPassword" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="NewPassword"></label>
        <input asp-for="NewPassword" class="form-control" type="password" />
        <span asp-validation-for="NewPassword" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ConfirmNewPassword"></label>
        <input asp-for="ConfirmNewPassword" class="form-control" type="password" />
        <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Zmień hasło</button>
    <a asp-action="ManageAccount" class="btn btn-secondary">Anuluj</a>
</form>

@* @if (TempData["Message"] != null)
{
    <div class="alert alert-success">
        @TempData["Message"]
    </div>
} *@

@* Ten kawałek z message będzie przydatny, ale żeby to prawidłowo zaimplementować...*@


@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation/1.19.3/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js"></script>
}