@using ITstudyv4.ViewModels
@model UserWithRolesVM
@{
    ViewData["Title"] = "Edycja 'O sobie'";
}

<h2 class="text-center text-info">Edycja "O sobie"</h2>

<form asp-action="ChangeAboutMe" method="post">
    <input type="hidden" asp-for="UserId" />

    <div class="form-group">
        <label asp-for="Bio"></label>
        <textarea asp-for="Bio" class="form-control" rows="4"></textarea>
        <span asp-validation-for="Bio" class="text-danger"></span>
    </div>

    <br />
    <button type="submit" class="btn btn-primary">Zapisz</button>
    <a asp-action="ManageAccount" class="btn btn-secondary">Anuluj</a>
</form>

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation/1.19.3/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js"></script>
}