@{
    ViewData["Title"] = "dev";
}

<p>Cheat sheet dla naszej strony. Zostawiamy to tutaj aby prościej można było testować stronkę</p>
<br />
<h2>Podstrony do stworzenia:</h2>
<br />
<h3>Dostęp dla każdego (odwiedzający/niezalogowani)</h3>
<ul>
    <li>Strona główna (na niej wstępnie ostatnie tematy powinny się wyświetlać</li>
    <li>Wszystkie posty</li>
    <li class="nav-item">
        <a class="nav-link text-info" asp-area="" asp-controller="Threads" asp-action="ShowAllThreads">Wszystkie Tematy</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-info" asp-area="" asp-controller="Categories" asp-action="ShowAllCategories">Wszystkie Kategorie</a>
    </li>
    <li>Regulamin</li>
    <li>Kontakt</li>
</ul>

<h3>Dostęp dla Normalnego usera</h3>
<ul>
    <li>Tematy bez odpowiedzi</li>
    <li>NAPOTEM odpisz/napisz post</li>
</ul>

<h3>Dostęp tylko dla Moderatora (i Admina):</h3>
<ul>
    <li>Zbanuj Użytkownika?</li>
    <li>Ukryj/usuń temat?</li>
    <li>Ukryj/usuń post?</li>
</ul>

<h3>Dostępne tylko dla admina:</h3>
<ul>
    <li class="nav-item">
        <a class="nav-link text-info" asp-area="" asp-controller="Threads" asp-action="AddNewThread">Stwórz Temat</a>(działa poprawnie tylko z poziomu kategorii, stąd nie przypisze się do kategorii)
    </li>
    <li class="nav-item">
        <a class="nav-link text-info" asp-area="" asp-controller="Categories" asp-action="AddNewCategory">Stwórz kategorię</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-info" asp-area="" asp-controller="Categories" asp-action="ManageCategory">Zarządzaj kategoriami</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-info" asp-area="" asp-controller="Admin" asp-action="ShowAllUsers">Pokaż wszystkich użytkowników</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-info" asp-area="" asp-controller="Admin" asp-action="EditUser">Zarządzaj użytkownikiem</a>(działa poprawnie tylko z poziomu wszystkich użytkowników)
    </li>
</ul>