@{
    ViewData["Title"] = "dev";
}

<p>Cheat sheet dla naszej strony. Zostawiamy to tutaj aby prościej można było testować stronkę (a raczej ją zepsuć)</p>
<p>PS. Licznik wyświetleń działa gdy manualnie odświeżymy stronę</p>
<br />

<h3>Dostęp dla każdego (odwiedzający/niezalogowani)</h3>
<ul>
    <li class="nav-item">
        <a class="nav-link text-info" asp-area="" asp-controller="Home" asp-action="Index">Strona główna</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-info" asp-area="" asp-controller="Home" asp-action="Privacy">Polityka prywatności</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-info" asp-area="" asp-controller="Home" asp-action="Regulations">Regulamin</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-info" asp-area="" asp-controller="Threads" asp-action="ShowAllThreads">Wszystkie Tematy</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-info" asp-area="" asp-controller="Categories" asp-action="ShowAllCategories">Wszystkie Kategorie</a>
    </li>
</ul>

<h3>Dostęp dla Normalnego usera</h3>
<ul>
    <li>Dodawanie postów</li>
    <li>Dodawanie tematów</li>
</ul>

<h3>Dostęp tylko dla Moderatora i Admina:</h3>

<ul>
    <li class="nav-item">
        <a class="nav-link text-info" asp-area="" asp-controller="Threads" asp-action="AddNewThread">Stwórz Temat</a>(działa poprawnie tylko z poziomu kategorii, stąd nie przypisze się do kategorii)
    </li>
    <li class="nav-item">
        <a class="nav-link text-info" asp-area="" asp-controller="Categories" asp-action="AddNewCategory">Stwórz kategorię</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-info" asp-area="" asp-controller="Categories" asp-action="ManageCategory">Zarządzaj kategoriami</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-info" asp-area="" asp-controller="Admin" asp-action="ShowAllUsers">Pokaż wszystkich użytkowników</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-info" asp-area="" asp-controller="Admin" asp-action="EditUser">Zarządzaj użytkownikiem</a>(działa poprawnie tylko z poziomu wszystkich użytkowników)
    </li>
</ul>