@model IEnumerable<Categories>

@{
    ViewData["Title"] = "Wszystkie kategorie";
}
<h2 class="text-center text-info">Wszystkie kategorie</h2>
<table class="table table-striped table-hover">
    <thead class="table-dark">
        <tr>
            <th>Nazwa</th>
            <th>Opis</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var category in Model)
        {
            <tr>
                <td>@category.Name</td>
                <td>@category.Description</td>
            </tr>
        }
    </tbody>
</table>