@model IEnumerable<Categories>

@{
    ViewData["Title"] = "Wszystkie kategorie";
}

<h1>Wszystkie Kategorie</h1>
<table class="table table-striped table-hover">
    <thead class="table-dark">
        <tr>
            <th>Nazwa</th>
            <th>Opis</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var category in Model)
        {
            <tr>
                <td>
                    <a asp-controller="Threads" asp-action="ShowThreadsInCategory" asp-route-categoryId="@category.Id">
                        @category.Name
                    </a>
                </td>
                <td>@category.Description</td>
            </tr>
        }
    </tbody>
</table>

