@{
    ViewData["Title"] = "Dodawanie nowego tematu";
}

<h1>Dodawanie nowego tematu</h1>

<form asp-action="AddNewThread" method="post">
    <input type="hidden" name="categoryId" value="@ViewBag.CategoryId" />

    <div class="form-group">
        <label for="Title">Tytuł tematu</label>
        <input type="text" class="form-control" id="Title" name="Title" required />
    </div>

    <div class="form-group">
        <label for="Content">Treść pierwszego posta</label>
        <textarea id="Content" name="Content" class="form-control" rows="4" required></textarea>
    </div>

    <button type="submit" class="btn btn-primary">Dodaj</button>
</form>
